body {
    margin: 0px;
    width:100%;
    height: 100%;
    position: absolute;
}
article,footer {
    display:block;
}
#bg {
    width:99%;
    height:99%;
    margin: 0.5%;
    padding: 0%;
    z-index: -5;
    background-image:url("image/travel1.JPG"), url("image/Aprillie.jpeg"), url("image/travel2.JPG"), url("image/FA.jpg"), url("image/travel3.JPG"), url("image/gongke.jpg"), url("image/travel4.jpg"), url("image/kito.jpg"), url("image/travel5.jpg"), url("image/Misaka.jpg"), url("image/travel6.jpg"), url("image/natsume.jpg"), url("image/travel7.jpg"), url("image/threebody.jpeg"), url("image/travel8.jpg");
    background-repeat: no-repeat, no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-size:19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%, 19.5% 32.3%;
    background-position-x: 0%, 25%, 50%, 75%, 100%, 0%, 25%, 50%, 75%, 100%, 0%, 25%, 50%, 75%, 100%;
    background-position-y: 0%, 0%, 0%, 0%, 0%, 50%, 50%, 50%, 50%, 50%, 100%, 100%, 100%, 100%, 100%;
}
#main {
    margin: 0%;
    padding: 0%;
    min-width: 0%;
    min-height: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.introduction {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    /*margin-bottom :auto;*/
    margin-top: auto;
    position: relative;
    font-size: 100%;
    line-height: 15px;
    z-index: 50;
    color: #000000
}
.bubble {
    font-size: 20px;
    background: radial-gradient( white, aquamarine);
    padding: 20px 32px;
    text-align: center;
    width: 150px;
    height: 150px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position:absolute;
    z-index: 99
}
#comment-area {
    position: relative;
    /*position: absolute;*/
    text-align:center;
    font-family:"Roboto Slab";
    background: #0cb2ff;
    padding: 200px;
    margin-top:0%;
    color:#000000;
    line-height:30px
}
#comment-area-body {
    margin:0%;
    padding:50px;
    color:antiquewhite;
    background: #080303;
}
.comment-body {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom:40px;
    /*position:absolute;*/
    /*padding: 40px 0 40px 120px;*/
}

.comment-metadata {
 /*position:absolute;*/
 position: relative;
 box-align: center;
 /*top:40px;*/
 font-size:11px
}
img {
    vertical-align: middle;
}
.fn {
 font-family:"Roboto Slab";
 font-size:20px
}

#portfolio-block {
    left: 30%;
    right: 60%;
    top:19.5%;
    bottom: 90%;
    width: 40%;
    height: 70%;
    box-align: center;
    background:rgba(255,255,255,0.8);
    position:relative;
    z-index: 100;
}
#submit {
    font-size: 15px;
    background: #000000;
    color:cornsilk;
    padding: 20px 32px;
    text-align: center;
    width: 150px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    /*position:absolute;*/
    z-index: 99
}